/* common  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.helpbutton {
    position: fixed;
    right: 16%;
    bottom: 0;
    border: 1px 1px 0 1px solid black;
    padding: 12px 10px 10px; 
    border-radius: 10%;
    background-color: #7CBB02;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 2;
}
.centered {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
    /* width: 100%;
    margin: 15px auto; */
}

/* sezione top */
.head {
    padding: 10px 0;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}
header {
    height: 600px;
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}

/* sezione navigazione  */
#logo {
    width: 15%;
    margin: 5px 0;
}
.nav-left {
    margin: 10px 0;
    width: 50%;
    text-align: left;
}
.nav-right {
    margin: 10px 0;
    width: 35%;
    text-align: right;
}
/* listing item > links */
ul li {
    display: inline-block; 
    list-style-type: none;
    font-size: 12px; 
    text-transform: uppercase;
}
header a,
footer a { 
    margin: 0 10px;
    text-decoration: none;
    color: white;
    /* font-weight: 600;   */
}
/* bottoni */
.btn {
    border: 1px solid;
    border-radius: 5px;
}
.big-btn {
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    padding: 20px 30px;
}

/* bottoni header  */
.small-btn {
    padding: 10px 20px;
}
.green-btn {
    background-color: #7CBB02;
    border-color: #7CBB02;
}
.green-btn:hover {
    background-color: white;
    color: #7CBB02;
} 
.white-btn:hover {
    background-color: white;
    color: #0C325A;
}

/* sezione jumbotron */
h1 {
    font-size: 50px;
    color: white;
    letter-spacing: 1px;
    margin: 20px 0;
    line-height: 60px;
}
.jumbotron a {
    text-transform: uppercase;
    display: inline-block;
}
.text-jbt {
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
}

/* sezione top del MAIN */
.top {
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.top h2 {
    font-size: 25px;
    margin: 10px;
}
.top p {
    font-weight: bold;
    color: #9E9E9E;
    font-size: 20px;
}

/* sezione TRE colonne del MAIN  */
#contenitor-3column {
    background-color: white;
    /* height: 400px; */
    margin: 50px auto;
}
.column3 {
    position: relative;
    float: left;
    width: 30%;
    text-align: center;
    margin: 0 1.6%;
}
.column3 img {
    height: 150px;
    margin-bottom: 20px;
}
.column3 h2 {
    font-size: 28px;
    color: #7CBB02;
    margin-bottom: 20px;
}
.divisorio {
    border-top: 1px solid grey;
    width: 20%;
    margin: 0 auto;
}
.column3 p {
    margin-top: 20px;
    color: #9E9E9E;
    font-weight: bold;
}

/* riga divisoria  */
#linea {
    border-top: 1px solid #9E9E9E;
    margin: 20px;
}

/* sezione 2 colonne del main  */
#contenitor-2column {
    background-color: white;
    margin: 20px auto;
}
.column2 {
    width: 40%;
    margin: 20px 5%;
}
.column2 h2 {
    margin-right: 25%;
    font-size: 25px;
}
.column2 p {
    margin: 10px 25% 20px 0;
    color: #9E9E9E;
    font-weight: bold;
}
#link-alone {
    font-size: 14px;
}

/* footer  */
footer {
    position: relative;
    display: inline-block;
    background: lightgrey;
    height: 150px;
    width: 100%;
    font-size: 20px;
}
footer h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}
.compilazione {
    display: inline-block;
    font-weight: bold;
    color: #9E9E9E;
    text-align: right;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%)
}
#select {
    position: relative;
    padding: 0 60px 0 0px;
    margin: 0 20px;
    border-bottom: solid 1px;
}
#marker {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
}

