/* common  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}

/* sezione top */
.container-top {
    width: 80%;
    height: 50px;
    margin: 0px auto;
    padding: 10px 0;
    line-height: 50px;
    vertical-align: middle;
}
header {
    text-transform: uppercase;
    background-color: #0C325A;
    height: 400px;
}
/* sezione navigazione  */
#logo {
    width: 15%;
}
.nav-left {
    width: 50%;
    text-align: left;
}
.nav-right {
    width: 35%;
    text-align: right;
}
/* listing item > links */
ul li { 
    display: inline-block; 
    list-style-type: none;
    font-size: 13px; 
}
li a {
    margin: 0 10px;
    text-decoration: none;
    color: white;  
}

/* bottoni */
.btn {
    border: 1px solid;
    border-radius: 5px;
}
.big-btn {
    padding: 20px 30px;
}

/* bottoni header  */
.small-btn {
    padding: 10px 20px;
}
.green-btn {
    background-color: #7CBB02;
    border-color: #7CBB02;
}
.green-btn:hover {
    background-color: white;
    color: #7CBB02;
} 
}
.white-btn:hover {
    background-color: white;
    color: #0C325A;
}
/* sezione jumbotron */



