/* common  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

.centered {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}

/* sezione top */
.head {
    padding: 10px 0;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
}
header {
    height: 600px;
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: 115% 110%;
}
/* sezione navigazione  */
#logo {
    width: 15%;
}
.nav-left {
    width: 50%;
    text-align: left;
}
.nav-right {
    width: 35%;
    text-align: right;
}
/* listing item > links */
ul li {
    display: inline-block; 
    list-style-type: none;
    font-size: 13px; 
    text-transform: uppercase;
}
a { 
    margin: 0 10px;
    text-decoration: none;
    color: white;  
}
/* bottoni */
.btn {
    border: 1px solid;
    border-radius: 5px;
}
.big-btn {
    margin: 0;
    display: inline-block;
    border-radius: 5px;
    padding: 20px 30px;
}

/* bottoni header  */
.small-btn {
    padding: 10px 20px;
}
.green-btn {
    background-color: #7CBB02;
    border-color: #7CBB02;
}
.green-btn:hover {
    background-color: white;
    color: #7CBB02;
} 
.white-btn:hover {
    background-color: white;
    color: #0C325A;
}

/* sezione jumbotron */
h1 {
    font-size: 50px;
    color: white;
    letter-spacing: 1px;
    margin: 20px 0;
}
.jumbotron a {
    text-transform: uppercase;
    display: inline-block;
}
.text-jbt {
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
}

/* sezione top del MAIN */
.top {
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.top h2 {
    font-size: 25px;
    margin: 10px;
}
.top p {
    font-weight: bold;
    color: #9E9E9E;
    font-size: 20px;
}

/* sezione TRE column del MAIN  */
#contenitor-3column {
    background-color: white;
    height: 150px;
}
.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

#one {
    background-color: red;
}
#two {
    background-color: blue;
}
#three {
    background-color: blueviolet;
}

/* sezione DUE column del MAIN  */
#contenitor-2column {
    background-color: orange;
    height: 150px;
}


/* footer  */
footer {
    background: lightgrey;
    height: 150px;
}